body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 20px;
    box-sizing: border-box;
}

.screen.active {
    display: flex;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 20px;
    font-size: 1.5em;
    background-color: #FFD700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:disabled {
    background-color: #B8860B;
    cursor: not-allowed;
}

#status-panel {
    width: 100%;
    background-color: #FFF;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #000;
}

#game-area {
    position: relative;
    width: 100%;
    height: 70%;
    background-color: #98FB98;
    overflow: hidden;
}

#game-canvas {
    width: 100%;
    height: 100%;
}

#control-panel {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 15vh; /* Aumenta a altura do painel de controle */
    max-width: 100%;
}

#control-panel button {
    flex-grow: 1;
    width: 30vw; /* Cada botão ocupa 30% da largura da tela */
    height: 100%;
    background-color: red;
    color: white;
    font-weight: bold;
    touch-action: manipulation;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 5vw; /* Ajusta o tamanho da seta proporcional ao botão */
}

#control-panel button:active {
    background-color: #FFA500;
}

#control-panel button:focus {
    outline: none;
}
